.verificador-imei {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }
  
  .verificador-imei h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .verificador-imei button {
    display: block;
    margin: 20px auto 0;
  }
  
  .imei-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  
  .imei-input-container input {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }
  
  .imei-input-container input::placeholder {
    color: #ccc;
  }
  
  .imei-input-container .counter {
    background-color: #fff;
    border-radius: 50%;
    color: #888;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
  }
  
  #validate-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #validate-btn:hover {
    background-color: #3e8e41;
  }
  
  #validate-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #validate-btn:focus {
    outline: none;
  }

  #reset-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Agregamos un margen superior */
    background-color: #0f76eb;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    width: 300px; /* Agregamos un ancho */
    margin: 0 auto; /* Centramos horizontalmente */
  }
  
  #reset-btn:hover {
    background-color: #0057b9;
  }
  
  #reset-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #reset-btn:focus {
    outline: none;
  }

  .result-container {
    display: none;
  }
  
  .result-container.show {
    display: block;
    background-color: rgb(139, 213, 139);
    border: 1px solid #006400;
    padding: 10px;
    margin-top: 10px;
    color: darkgreen;
    font-family: 'Quicksand', sans-serif;
  }